.App{
    display: inline-block;
    margin-left: 450px;
    margin-top: 3px;
    
  }
  .App-header {
    min-height: 35vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: inline-block;
  }  
    body{
      background-color: rgb(187, 183, 183);  
    }
  